<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
   <img src="/assets/images/logo.png" width="50" height="50" alt="logo">
 </a>
 <a class="navbar-brand" href="#">Music</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" routerLink="/home-page" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
     </li>
     <li>
       <a routerLink="/wishlist" class="btn btn-link" href="#"><i class="material-icons">favorite</i></a> 
     </li>
     <!-- <a class="nav-item btn nav-link" routerLink="/home" routerLinkActive="active"> HOME <span class="sr-only">(current)</span></a>
     <a class="nav-item nav-link" routerLink='/wishlist' routerLinkActive="active"> WISHLIST </a> -->
       <!-- <button type="button" class="btn btn-outline-primary"><i class="material-icons">favorite</i>Wishlist</button> -->
       <!-- <a [routerLink]="" class="btn btn-link"><i class="material-icons">favorite</i>Wishlist</a> -->

   </ul>
   
   <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" #text type="text" placeholder="Search Track.." aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="click(text.value)">Search</button>
   </form>
   
 </div>
</nav>
