/* @media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
} */

/* .container-narrow > hr {
  margin: 30px 0;
} */


  .container{
     margin-top: 30px;
     margin-bottom: 20px;
     font-size: 14px;
    
     /* display: flex;
  justify-content: center;
  flex-direction: column; */
     
   }
  
   .cards{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 900px;
    height: 250px;
    margin: 0 auto; 
    float: none;
    border: 1px solid #e5e5e5; 
  
    /* text-align: center; */
   
   }
   .imageClass{
     height: 170px; 
   }
   .buttons{
     margin-bottom: 10px;
   }
  
   
/* 
@media(max-width: 700px) {
  div {
    background-color: black;
  }
} */




